library(tidyverse)
library(lubridate)
library(grid)
library(stargazer)
library(ipumsr)
library(readr)

pums <- read.table(paste("QOB.raw",sep=""),
                   header           = FALSE,
                   stringsAsFactors = FALSE)
colnames(pums)[c(1,2,4,5,6,9:13,16,18,19:21,24,25,27)] <- c("AGE", "AGEQ", "EDUC", "ENOCENT","ESOCENT", "LWKLYWGE", "MARRIED", "MIDATL", "MT", "NEWENG", "CENSUS", "QOB", "RACE", "SMSA", "SOATL", "WNOCENT", "WSOCENT", "YOB")
pums <- as_tibble(pums)
pums

pums %>%
  mutate(cohort = factor(1*(YOB<=39 & YOB >=30) +
                           2*(YOB<=49 & YOB >=40),
                         levels=c(1,2), labels=c("30-39","40-49")) ) -> pums

pums

# Add proper dates
ymd(paste("19",30,4 * 3, sep=""),truncated = 2)

ggplot(pums, aes(x = YOB, y = EDUC)) +
  geom_line() + 
  geom_point() +  
  geom_text(aes(label = QOB), vjust = -0.5, hjust = 0.5) +  
  theme_minimal() +
  scale_color_manual(values = c("red", "black", "black", "black"))

ggplot(pums, aes(x = YOB)) +
  geom_line(aes(y = LWKLYWGE)) +
  ggtitle("Average weekly wage by quarter of birth") +
  labs(x = "Years of birth", y = "Log weekly earnings")
